# file managed by puppet

module rsync_wwwdata 2.0;

require {
        type httpd_sys_content_t;
        type httpd_sys_rw_content_t;
        type httpd_sys_script_exec_t;
        type httpd_config_t;
        type rsync_t;
        class file     { read write append getattr setattr create rename link unlink };
        class lnk_file { read write append getattr setattr create rename link unlink };
        class dir      { read write append getattr setattr create rename link unlink rmdir open add_name remove_name search };
}

#============= rsync_t ==============
allow rsync_t { httpd_sys_content_t httpd_sys_rw_content_t httpd_config_t httpd_sys_script_exec_t} : { file lnk_file dir } *;

